h1 {
    color: #eda200 !important;
    font-size: 1.5em;
}

body {
    background: #191919;
    font-family: "Bungee Inline";
    color: #fff;
}

.text-size-1 {
    font-size: 1rem;
}
.text-size-2 {
    font-size: 2rem;
}
.text-size-3 {
    font-size: 3rem;
}
.text-size-4 {
    font-size: 4rem;
}
.text-size-5 {
    font-size: 5rem;
}

.btn-c-red {
    background-color: #FF0000;
    color: #fff;
}

.avatar {
    .profile-photo {
        background-image: url(../img/avatar.png);
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
}

.btn-home {
    a {
        font-size: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logout {
        font-size: 1.5rem;
        height: auto;
    }

    @media (max-width: 360px) {
        a {
            font-size: .8rem;
        }

        .logout {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 340px) {
        .col-app-home {
            width: 100%;
        }
    }
}

// Formulario de login e registro

.formulario {
    .invalid-feedbeck {
        padding: 6px 0 0 0;
        color: #ff0909;
        font-family: system-ui;
    }
    .inputs {
        color: #ccc;
        display: flex;
        flex-wrap: wrap;
        input {
            color: #ccc;
            font-family: montserrat;
            background-color: #333332;
            border: none;
            width: 100%;
            height: 57px;
            border-radius: .25rem;
            border-radius: .25rem;
            padding: 5px 15px;
        }

        @media (max-width: 380px){
            input {
                height: 43px;
            }
        }

        ::-webkit-input-placeholder {
            color: white !important;
        }

        :-moz-placeholder {
            /* Firefox 18- */
            color: white !important;
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            color: white !important;
        }

        :-ms-input-placeholder {
            color: white !important;
        }
    }

    button.btn-light {
        width: 100%;

        span.icon {
            display: none;
        }

        @media (max-width: 380px) {
            span.text {
                display: none;
            }

            span.icon {
                display: block;
            }
        }
    }

    .checkbox {
        color: #fff;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;

        input {
            width: 25px;
            height: 25px;
        }
    }
    .checkbox-terms {
        color: #fff;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 25px;
            height: 25px;
        }

        a {
            color: #fff;
        }

        a:hover {
            color:rgb(13, 48, 242);
        }
    }

    .btn-c-orange {
        font-size: 1.5rem;
        height: auto;
    }
}

// /////////

.inline-block {
    display: inline-block;
}

.top-header {
    background-color: #ffc244;

    .pedido-step {
        background-color: #fff;
        width: 100%;
        height: 15px;
    }

    .pedido-step.active {
        background-color: #000;
    }

    .pedido-step-text {
        text-align: center;
        font-size: 0.8rem;
        padding-top: 10px;
    }
}

.title-orange {
    color: #eda200;
}

.sub-title-white {
    color: #fff;
}

.line-product {
    div {
        border: 2px solid #ffc244;
        width: 90%;
        margin-top: 10px;
    }
}

#file-custom {
    display: none;
}

.preco-pedido {
    color: #fff;
    font-size: 1.2rem;

    div:first-child {
        color: #eda200;
    }

    div:nth-child(2) {
        margin-left: auto;
    }
}

.form-check-input[type="radio"] {
    display: none;
}

.div-btn-login {
    position: fixed;
    top: 0;
    z-index: 99;

    button {
        background-color: #fff;
        color: #000;
        border-radius: 0 10px 10px 0;
        padding: 5px 12px 10px 15px;
        font-size: 1.2rem;
    }
}
.aba-lr {
    position: fixed;
    top: 0;
    background-color: #fff;
    transition: 0.3s width;
    width: 0;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    z-index: 100;

    .div-aba {
        display: flex;
        padding: 5px 12px 5px 15px;

        .links {
            padding: 0 10px;

            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

.logo {
    max-width: 150px;
    width: 100%;
    img {
        width: 100%;
    }
}
.pedido {
    background: #eda200;
    padding: 15px 0;
    a {
        text-decoration: none;
        color: #333332;
    }
}
.swal2-container {
    font-family: system-ui !important;
}

.font {
    font-family: system-ui !important;
    font-weight: bold;
}

.mid-text {
    p {
        padding: 0 16em;
    }
}
.low-text {
    background: #eda200;
    padding: 1em 1em;
    border-radius: 10px;

    p {
        font-weight: 900;
    }
}
.form {
    input {
        background: #333332 !important;
        border: none !important;
        padding: 1em !important;
        color: rgb(184, 184, 184) !important;
    }
}
.btn-env {
    background-color: #eda200;
    width: 100%;
    padding: 1em;
    font-weight: 900;
}
::-webkit-input-placeholder {
    color: white !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

:-ms-input-placeholder {
    color: white !important;
}
.text-thanks {
    background: #eda200;
    padding: 1em;
    border-radius: 10px;
    p {
        font-weight: 900;
    }
}
.icons {
    div {
        margin: 0 10px;
    }
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-5 12:0:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.conteudo-12 {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mid-text {
        p {
            padding: 0 1em;
        }
    }
}

a {
    text-decoration: none !important;
}
.home-p {
    padding-top: 25px;
    text-align: center;
    color: #eda200;
}
.price {
    span {
        color: #eda200 !important;
    }
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
.float-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    a{
        text-decoration: none !important;
       color: #191919;
    }
}
.btn-cart {
    background-color: #eda200;
    padding: 1.2em;
    border-radius: 50px;
}
.icon {
    font-size: 1.3em;
    text-align: center;
}
.span-cart {
    background-color: red;
    border-radius: 50%;
    padding:0.7em 1em;
    position: relative;
    bottom: 20px;
    left: 25px;
    font-size: .8em;
}

.linha-horizontal {
    width: 90%;
    border: 2px solid #eda200;
    position: relative;
    left: 5%;
}

.perfil {
    .btn-edit {
        font-size: 1.5rem;
        color: #fff;

        img {
            width: 30px;
            height: 30px;
            margin-left: 10px;
        }
    }

    @media (max-width: 340px) {
        font-size: .8rem;

        .btn-edit {
            font-size: 1.2rem;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.icon-img {
    background-color: #fff;
    padding: 3px 4px;
    -webkit-box-shadow: #eda200 0px 6px 3px 0px;
    box-shadow: #eda200 0px 6px 3px 0px;
    border-radius: .25rem;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.showcase-cashback {
    background-color: #fff;
    color: #000;
    padding: 15px 0;
    border-radius: 1rem;
    display: flex;
    justify-content: center;

    span {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2.2rem;
        margin-bottom: 0;
        margin-left: 5px;
    }
}

.chashback-extract {
    .motivo {
        font-size: 1.3rem;
    }

    .valor {
        font-size: 1.2rem;
    }

    .data {
        font-size: .9rem;
    }
}

.select-custom {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eda200;
    border-radius: 0;
    text-align: center;
    background: url(../../assets/img/selector-arrow.svg) 95.5% 50% no-repeat;
    background-size: 7%;

    option {
        background-color: #191919;
        font-size: .7rem;
    }
}

.select-custom:focus {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eda200;
    box-shadow: none;
}

.select-custom-mesa {
    background-size: 18%;
    padding-bottom: 0;
    font-size: 4rem;

    option {
        font-size: 1rem;
    }
}

.btn-c-location-c {
    font-size: 1.7rem;
    height: auto;
}

@media (max-width: 340px){
    .btn-c-location-c {
        font-size: 1.2rem;
    }
}

.catalogo-location {
    .beer {
        width: 80px;
        background-color: white;
        border-radius: 19px;
        height: 80px;
        -webkit-box-shadow: #eda200 0px 6px 3px 0px;
        box-shadow: #eda200 0px 6px 3px 0px;

        img {
            position: relative;
            top: 8px;
            left: 8px;
        }

        @media (max-width: 340px) {
            width: 60px;
            height: 70px;

            img {
                top: 14px;
                left: 8px;
                width: 75%;
            }
        }
    }

    @media (max-width: 340px) {
        .text-orange {
            margin-top: 5px;
            font-size: .8rem;
        }
    }
}

.product-showcase {
    .product {
        .product-image {
            width: 70%;
            height: 150px;
            background-color: white;
            border-radius: 19px;
            -webkit-box-shadow: #eda200 0px 6px 3px 0px;
            box-shadow: #eda200 0px 6px 3px 0px;
            margin-bottom: 10px;

            img {
                border-radius: 19px;
                height: 100%;
                position: relative;
                left: 0;
                width: 100%;
                object-fit: cover;
            }
        }

        .caption {
            font-size: .9rem;
            margin-bottom: 5px;

            @media (max-width: 340px) {
                button {
                    font-size: .8rem;
                }
            }
        }

        .caption.price {
            font-size: 1rem;
        }
    }
}


.single {
    .product {
        background: blue;
        width: 45%;
        height: 340px;
        background-color: white;
        border-radius: 19px;
        box-shadow: #eda200 0px 6px 3px 0px;
        img{
            border-radius: 19px;
            height: 100%;
            position: relative;
            left: 0;
            width: 100%;
            object-fit: cover;
        }
    }
}

.descriptions {
    .lupulo {
        width: 80px;
        background-color: white;
        border-radius: 19px;
        height: 80px;
        box-shadow: #eda200 0px 6px 3px 0px;
    }

    .amargor {
        color: #eda200;
    }
    span {
        font-size: 1rem;
        display: block;
    }
    img {
        position: relative;
        top: 8px;
        left: 10px;
        height: 60px;
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}

.preco-add {
    .btns-add-qty {
        .input-group-prepend {
            button {
                background: #fff;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                height: 29px;
                top: 1px;
                font-size: 1.3rem;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }
        }

        .input-group-append {
            button {
                background: #fff;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                height: 29px;
                top: 1px;
                font-size: 1.3rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .multiplicadores {
        .btn {
            background-color: #fff;
        }

        @media (max-width: 340px) {
            div {
                width: 40%;
                display: flex;
            }

            .btn {
                width: 100%;
                span {
                    display: none;
                }
            }
        }
    }
}

.comanda-close {
    position: fixed;
    z-index: 10;
    background-color: #191919;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: .6s width;
    top: 0;

    .btn {
        font-size: 2rem;
        height: auto;
    }
}

.table-custom {
    width: 100%;

    td {
        color: #fff;
    }

    thead {
        tr {
            border-bottom: 4px solid #eda200;
        }
    }
}

.nav.nav-tabs {
    border-bottom: 1px solid #eda200;

    button {
        color: #fff;
    }

    button.active {
        color: #000;
        background-color: #eda200;
        border-color: #eda200 #eda200 #fff;
    }
}

.comanda-produto {
    transition: .6s height;
    overflow: hidden;
}

@media (max-width: 340px) {
    .texto-comanda {
        h5 {
            font-size: 1rem;
        }
    }
}

.pre-visualizar-produto {
    .fundo-branco {
        background: transparent;
        border-radius: 19px;
        width: 100%;
        height: 100%;
        width: 120px;
        height: 200px;
        background-color: white;
        border-radius: 19px;
        box-shadow: #eda200 0px 6px 3px 0px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 19px;
        }

        @media (max-width: 340px) {
            width: 80px;
            height: 190px;
        }
    }

    .title {
        position: relative;
        .nome {
            width: 100%;
        }

        .preco {
            color: #eda200;
        }

        .edit {
            position: initial;
            left: 0;

            .btn-lixeira {
                position: relative;
                left: -10px;
            }
        }

        .edit-custom {
            position: absolute;
            right: -31px;
            justify-content: end;
            display: flex;
            top: 0;
        }
    }
}