/*
    DEMO STYLE
*/

body {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #191919 !important;
}
th{
    font-weight: 200 !important;
}
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    padding: 15px 10px;
    background: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}
.logo {
    width: 150px;
    img {
        width: 100%;
    }
}
.font-bungeo{
    font-family: "Bungee Inline", cursive !important;
}
#sidebar {
    font-family: "Bungee Inline", cursive;
    min-width: 250px;
    max-width: 250px;
    background: #333332;
    color: #eda200;
    transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #333332;
}
.modal-backdrop.show{
    display: none !important;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #333332;
    text-align: center;
}

#sidebar ul p {
    color: #eda200;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: orange;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
    span {
        color: white !important;
    }
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: white;
    transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
.logout {
    color: #eda200;
}
.icons {
    font-size: 1.3em;
}
.edit:hover {
    color: rgb(29, 131, 247);
}
.trash:hover {
    color: rgb(250, 8, 8);
}
.block:hover {
    color: rgb(246, 250, 8);
}
.btn-add {
    background: #333332;
    color: #eda200;
}
.btn-add:hover {
    background: #333332;
    color: white;
}

.modal-content {
    background: #333332;

    .table-responsive2 {
        width: 100%;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.modal-header {
    border-bottom: none !important;
}
.modal {
    font-family: "Montserrat", sans-serif !important;
}
.modal-title {
    color: #eda200;
}

.form-group {
    input {
        background: #726d6d !important;
        border: none !important;
        font-size: 0.9em !important;
        color: rgb(218, 216, 216) !important;
    }
    textarea {
        background: #726d6d !important;
        border: none !important;
        color: white !important;
    }
}
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white !important;
    font-size: 0.9em !important;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white !important;
    font-size: 0.9em !important;
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white !important;
    font-size: 0.9em !important;
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white !important;
    font-size: 0.9em !important;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white !important;
    font-size: 0.9em !important;
}

.form-control {
    padding: 0 10px;
}

.pagination {
    .page-item {
        .page-link {
            color: #fff;
            background-color: #343a40;
            border-color: #191919;
        }
    }
    .page-item.active {
        .page-link {
            color: #343a40 !important;
            background-color: #fff !important;
        }
    }
}

::placeholder {
    /* Most modern browsers support this now. */
    color: white !important;
    font-size: 0.9em !important;
}

#radioBtn .notActive {
    color: #ddd;
    background-color: #333332;
}
#radioBtn .active {
    color: #ddd;
    background-color: #eda200;
}
.btn-orange {
    background-color: #eda200;
    width: 100%;
    font-family: "Bungee Inline", cursive !important;
}
.btn-orange:hover {
    background-color: #eda200;
    width: 100%;

    color: white;
}

// dashboard home //@

.dia {
    background-color: #333332;
    color: #eda200;
    padding: 1em;
}
.semana {
    background-color: #f1a313;
    color: #000 !important;
    padding: 1em;
}
.mes {
    background-color: #016ef1;
    color: #fff !important;
    padding: 1em;
}
.closed {
    background-color: red;
    color: #fff !important;
    padding: 1em;
}
.edit-form {
    font-family: "Montserrat", sans-serif !important;
}
.table-tr{
   font-family: "Montserrat", sans-serif !important;
}
